/*隐藏不打印的元素*/
.control-list p{
	line-height:35px;
	font-size:20px;
}
.control-list table tr td{
	border-color:#000000;
	text-align: center;
	vertical-align: middle;
}
@media print{

    /*隐藏不打印的元素*/
    .control-list p{
        line-height:33px;
		font-size:20px;
    }
	.control-list table tr td{
		border-color:#000000;
		text-align: center;
		vertical-align: middle;
	}
    /*其他打印样式*/
}
